body{
    margin: 0;
    background-image: url(shopg.jpg);
    background-color:white;
    box-sizing: border-box;
    color: white;
    opacity:90%;
  

}
div{
    color: white;
} 
   
 
   div{
       color :white;
       }
    

.image{
    margin-top: 60px;
    color: darkslategrey;
    opacity: 100%;
    width: 300px;
    height: 300px;
   border: 10px;
   margin-bottom: 30px; 
}
#this{
    width:200px;
}
#show{
    background-color: slateblue;
    padding: 50px;
    border-radius: 20px;
    width:300px;
    height:300px;
    border:10px;
    margin-bottom:30px;
}
#this{
    width:200px;
    }
#show{
    background-color : slateblue ;
    padding:50px;
}
header{
     
 border: 40px solid skyblue;   
}
.flexa{
    width: 50%;
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    float: column;
    background-color:  skyblue;
    padding: 20px;
    margin-top: 40px;
    font-size: 20px;
    color: white;
    flex-wrap:nowrap;
    border-radius: 10px;
    opacity: 100%; 
}
#logo{
    width:20%;
    border-radius: 10px;
    margin-bottom: 20px;
   
}

.name{
    position:fixed;
    left: 5%;
    margin-top:10px ;
}
 nav{
    padding: 0px;
    display: flex;
    justify-content:  space-around;
    margin-bottom: 10px;   
    margin-bottom: 10px; 
    background-color:#3b3e6d;
}
a{
    text-decoration: none;
    justify-content: center;
    padding: 20px; 
    padding-top: 20px;
    color: white;
   
   
}
button{
background-color:palevioletred;
color:black ;
border: none;
border-radius: 10px;
margin-right:40px;
}
.btn{
    padding: 0px;
}
.nav{
    width:100%;
    background-color:#3b3e6d;
    padding: 20px;
    justify-content: space-around;
    position: fixed;
    top: 0;
}

   
    
      

input{
   
    padding: 10px;
    padding-left: 40px auto;
    border-radius: 5px;
    margin-top: 30px;
    justify-content: center;
    padding-left: 0;
    border-radius: 5px;
    margin-top: 30px;
    justify-content: center ;
    text-align: center;
    margin-left:20px;
    border: none;
    margin-bottom : 10px;
   margin-left:30% ;
}
button:hover{
    transform: scale(1.15);
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.5 ease-in;
}
h3{
    color: red;
}

 @media screen and (min-width:100%){}
@media screen and (min-width:100%){}


@media screen and (min-width:100%) {
    

}
@media screen and (min-width:100%){}

